:root {
    --primary: #160151;
    --secondary: #620194;
    --white: #fff;
    --black: #000;
}

/* Reset */
*,
body,
p,
a,
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    color: var(--white);
}
li {
    list-style-type: none;
}


.d-flex {
    display: flex !important;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

button {
    background: none;
    border: none;
}

/* Base Style */
body {
    background-color: var(--primary);
    overflow-x: hidden;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* topbar */
.topbar {
    
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
    background-color: var(--primary);
    width: 100vw;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.534);
    border-radius:  0px 20px ;
}

::-webkit-scrollbar{
    width: 0;
}

.app a{
    font-weight: 600;
}

.app a:hover {
    color: var(--white)
}

.left-bar {
    display: flex;
    width: 20vw;
    justify-content: space-evenly;
}

.navigation {
    display: flex;
    justify-content: center;
}

#nav-btn {
    background-color: var(--white);
    position: fixed;
    width: 3vw;
    height: 15vh;
    top: 25vh;
    right: 0px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.nav-panel {
    position: fixed;
    width: 80vw;
    background-color: var(--white);
    border-radius: 20px;
    display: none;
    bottom: 1vh;
    animation: showNav 0.5s cubic-bezier(0.57, 0.01, 0, 1.38);
}

@keyframes showNav {
    0% {
        bottom: -10vh;
    }

    100% {
        bottom: 1vh;
    }
}

.nav-panel ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    justify-content: space-evenly;
}

.profile-pic {
    border-radius: 50%;
    width: 2rem;
}

.profile-name {
  font-weight: 600;
}

.card-post {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 90vw;
}

.top-card {
    margin: 0.5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-time {
  margin-left: 2px;
    font-size: 0.6rem;
}

.top-card-left {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.card-post .image-card img {
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.card-post .description-card {
    margin-top: 0.5em;
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
}

.card-post .description-card p {
    font-size: 0.8em;
    font-weight: 500;
    /* margin-left: 1em; */
}

.card-post .description-card a {
    display: flex;
}

.card-post .description-post {
    font-size: 0.8em;
}

.card-panel .icon-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

.card-panel .icon-card li {
    margin-left: 0.5em;
}

.card-post .btn-category {
    border: 1px solid var(--white);
    border-radius: 0.5rem;
    color: var(--white);
    transition: 0.5s ease-in;
    font-weight: 700;
}

.card-post .btn-category:hover {
    background-color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
    color: var(--primary);
}

.categories::-webkit-scrollbar{
    width: 0;
}

.categories {
    /* position: sticky; */
    margin-top: 1rem;
    /* margin-bottom: 0.2rem; */
    display: flex;
    overflow-x: auto;
}

.btn-categories:link {
    margin-right: 0.5rem;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 10px;
    font-weight: 600;
}

.btn-categories:hover {
    background-color: var(--white);
    color: var(--secondary);
}

.active-btn-categories {
    background-color: var(--white);
    color: var(--secondary);
}


#more {
    display: none;
}

#myBtn {
    color: rgb(153, 148, 148);
    font-weight: 600;
}

.offcanvas-bottom {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* width: 90vw; */
    background-color: var(--primary);
    align-items: center;
    height: fit-content;
    max-height: 80vh;
}

.card-comment {
    display: flex;
    width: 90vw;
}

.top-card-comment {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.card-content-comment {
    padding: 0.5em;
    background-color: var(--white);
    border-radius: 1em;
}

.card-content-comment h5 {
    color: var(--primary);
    font-weight: 600;
    margin-bottom: -0.2em;
    font-size: 1rem;
    margin-bottom: 2px;
}

.card-content-comment p {
    color: var(--black);
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: -0.7px;
    line-height: 0.8rem;
}

.comment-form {
    /* background-color: violet; */
    display: flex;
    width: 80vw;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.comment-form textarea {
    background: var(--white);
    /* background: none; */
    border-radius: 10px;
    height: 45px;
    max-height: 10vh;
    border: none;
    width: 60vw;
    color: var(--black);
    font-size: 0.8em;
}

.share-panel {
    display: grid;
    width: 80vw;
    background-color: var(--white);
    grid-template-columns: 1fr 1fr;
    height: 4em;
    border-radius: 10px;
    gap: 3px;
    align-items: center;
    justify-items: center;
}

.share-panel .icon-panel-share {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    align-items: center;
    justify-items: center;
}

.share-panel .icon-panel-share li {
    margin-left: 0.3em;
    background-color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        -3px -3px 4px -2px rgba(98, 1, 148, 0.27);
    border-radius: 5px;
    padding: 0.3rem;
}

.share-panel .icon-person-panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    align-items: center;
    justify-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        -3px -3px 4px -2px rgba(98, 1, 148, 0.27);
    height: 3.5em;
    width: fit-content;
    border-radius: 5px;
}

.share-panel .icon-person-panel li {
    margin: 0 0.2em;
}

/*profile*/

.wrapper-profile {
    position: absolute;
    display: grid;
    grid-template-columns: repeat( 2,1fr );
    margin-top: 2vh;
    align-items: center;
    
}

.right-col {
    display: grid;
}

.name-username h5 {
    font-size: 1.5rem;
    font-weight: 700;
}

.name-username p {
    font-size: 1rem;
}

.call-to-action {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wrapper {
    margin-top: 20vh;
    background-color: var(--secondary);
    height: 100%;
    border-top-left-radius: 40px;
    display: flex;
    flex-direction: column;
}

.wrapper-img-btn-follow {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

.profile-img {
    display: flex;
    justify-content: center;
    align-content: center;
}

 .profile-img img{
    border-radius: 20px;
}

.dm-btn {
    width: max-content;
    height: max-content;
    padding: 0.5rem;
    background-color: var(--secondary);
    border-radius: 5px;
    box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.25);
    
}

.dm-btn img {
    height: 2rem;
}

.follow-btn {
    width: max-content;
    height: max-content;
    padding: 0.1rem 7vw;
    margin-left: 10px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.25);
}

.follow-btn p{
    color: var(--primary);
    font-size: 1.8rem;
    font-weight: 700;
    
}

.status-count {
    box-shadow: 8px 6px 11px 3px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 85vw;
    padding: 20px;
    height: 7em;
    background-color: var(--primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2vh auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.count-followers, .count-following, .count-posts {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.status-count .title {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

.wrapper-post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.title-wrapper-post {
    margin: 0 auto;
    font-weight: 800;
    margin-bottom: 2vh;
}

.wrapper-card-post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;

}

.card-post-me{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2vh;
    
}

.card-post-me img {
    border-radius: 10px;
    
}

.card-post-me .title {
    background-color: var(--black);
    position: absolute;
    top: 62%;
    border-radius: 5px;
    padding: 1px;

}

.flip-card {
    background-color: transparent;
    /* width: 300px;
    height: 300px;
    perspective: 1000px; */
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotatex(-180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotatex(180deg);
  }